# editor files
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# build dirs
build/

# cmake files
compile_commands.json

# caches
.cache

# os files
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
._*