[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glaze"]
	path = vendor/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/vk-bootstrap"]
	path = vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "vendor/embed"]
	path = vendor/embed
	url = https://github.com/batterycenter/embed.git
[submodule "vendor/metal-cpp"]
	path = vendor/metal-cpp
	url = https://github.com/apple/metal-cpp.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "vendor/wren"]
	path = vendor/wren
	url = https://github.com/wren-lang/wren.git
[submodule "plugins/proc_planet/vendor/FastNoise2"]
	path = plugins/proc_planet/vendor/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
